Package: Xbillboard
Version: 0.0.1
Section: hidden 
Depends: python,wget,python-gi,python-gobject, lightdm, xorg, libgtk-3-dev , python-poppler
Architecture: all
Installed-Size: 15Kb
Maintainer: Samir KHERRRAZ <samir.kherraz@outlook.fr>
Description: Transforms your debian into a billboard
