Package: Xbillboard
Version: 0.0.1
Section: hidden 
Depends: python,python-gtk2,python-poppler,wget,xorg,lightdm
Architecture: all
Installed-Size: 15Kb
Maintainer: Samir KHERRRAZ <samir.kherraz@outlook.fr>
Description: Transforms your debian into a billboard
